@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background: rgb(238, 238, 248);
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.btnAdd, .subAdd, .subChange {
    margin: 10px;
    border: 0;
    text-align: center;
    background: #28a745;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btnDel, .btnChange {
    height: 35px;
    padding: 5px 10px;
    margin: 3px;
    border: 0;
    text-align: center;
    background: #fa2d2d;
    color: white;
    display: inline-block;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btnChange {
    background: #1d7ce8;
}

.table {
    border: 2px solid #000;
    width: 80%;
    border-collapse: collapse;
    margin: 10px auto 30px;
    background: white;
    box-shadow: 10px 10px 10px rgba(103, 108, 27, 0.9);
}

.table td, .table th {
    border: 1px solid #000;
}

.table tr:hover {
    background-color: #E0E0FF;
}

.table .title:hover {
    background-color: white;
}

.table th {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table td {
    margin-right: 12px;
    text-align: center;
}

.table .nameStud {
    padding-left: 15px;
    text-align: left;
}

input {
    white-space: pre-line;
    padding-left: 15px;
    height: 30px;
    width: 300px;
}

.tabAdd {
    font-size: 20px;
}

.subAdd, .subChange {
    width: 250px;
    border: 0;
    margin-top: 20px;
}

.subChange {
    background: #1d7ce8;
}

.subDel {
    height: 50px;
    border: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px 15px;
    text-align: center;
    background: #fa2d2d;
    color: white;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.addStudent, .changeStudent {
    z-index: 1;
    width: 550px;
    height: 300px;
}

.delStudent {
    z-index: 3;
    width: 500px;
    height: 150px;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans SemiBold", sans-serif;
}


.addStudent, .delStudent, .changeStudent {
    border: 2px solid #000;
    box-shadow: 10px 10px 10px rgba(103, 108, 27, 0.9);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

.close {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.closeDel {
    right: 1.5%;
    top: 3.5%;
}

.closeAdd, .closeChange {
    right: 1.5%;
    top: 1.5%;
}